.container{
  background-color: pink;
}

[class *="col-"]{
  border: 1px solid black;
  height: 200px;
 
}

[class *="col-"] p{
   text-align: center;
   margin-top: 100px;
}

.nested{
  background-color: palevioletred;
  width: 100%;
}

.nested [class*="col-"]{
  border: 1px solid white;
}